<app-top-components fixed = 'false' showToolbar = 'true'></app-top-components>

<ion-content>


    <ion-grid>
      <ion-row>
        <div id="contact-page-title">
          Contact Us
        </div>
        </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card class = "contact-card">
                <ion-card-content >
                  <form [formGroup]= "infoFormGroup" (ngSubmit)="onSubmit()">
                    <div class = "input-container">
                        <ion-label> First Name </ion-label>
                        <ion-input type="text" required="true" autofocus aria-autocomplete="true" formControlName="firstname" placeholder = "Enter your first name..."> </ion-input>
                    </div>
                    <div class = "input-container">
                        <ion-label> Last Name </ion-label>
                        <ion-input type="text" required="true"  aria-autocomplete="true" formControlName="lastname" placeholder = "Enter your last name..."> </ion-input>
                    </div>
                    <div class = "input-container">
                        <ion-label> Job Title </ion-label>
                        <ion-input type="text" required="true"  aria-autocomplete="true" formControlName="jobtitle" placeholder = "Enter your title..."> </ion-input>
                    </div>
                    <div class = "input-container">
                        <ion-label> Email </ion-label>
                        <ion-input type="email" required="true"  aria-autocomplete="true" formControlName="email" placeholder = "Enter your email address..."> </ion-input>
                    </div>
                    <div class = "input-container">
                        <ion-label> Company / Organization </ion-label>
                        <ion-input type="text" required="true"  aria-autocomplete="true" formControlName="organization" placeholder = "Enter your company/organization..."></ion-input>
                    </div>
                  
                    <div class = "input-container">
                        <ion-label> Your Message </ion-label>
                        <ion-textarea type="text" required="true"  rows="6" formControlName="message" placeholder = "Your messge here..."> </ion-textarea>
                    </div>
                  </form>
                    <div class = "button-group">
                      <ion-button id = "back-button" (click) = "onBack()"> Back </ion-button>
                      <ion-button id = "submit-button" [disabled]="infoFormGroup.invalid" color="secondary" (click) = "onSubmit()"> Submit </ion-button>
                    </div>
            
                </ion-card-content>
            
              </ion-card>
            </ion-col>
            
          </ion-row>
     </ion-grid>



  






</ion-content>