.categoryElement {
    z-index: 5;
    margin: 5px;
    height: 130px;
    font-size: large;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    vertical-align: middle;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

