app-top-components{
    position: fixed;
    width: 100%;
    z-index: 1000;
}
ion-content{
    --ion-background-color:#2B2B2B;
}

.inner-scroll {
    padding-top: 0px !important;
  }


.feature-section .shader-top{
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.7), transparent, transparent, transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.feature-section .shader-bottom{
    pointer-events: none;
    background-image: linear-gradient(to top, #000000, transparent, transparent);
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
}


.companyDetails{
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    padding: 0;
}



.expandableDetails ion-row{
    padding: 5px 15px;
    margin-left: 16px;
    margin-right: 16px;
    border-top-color: rgba(255, 255, 255, 1);
    border-top-width: 1px;
    border-top-style: solid;
    cursor: pointer;
}

.expandableDetails app-accordion-panel{
    width:100%
}

.expandableDetails .expandContact,.expandableDetails .expandNotes{
    display: flex;
    flex-direction: column;
    text-align: left;
    vertical-align: middle;
    width:100%
}

.expandableDetails #content-text, .expandableDetails #content-text-more{
    padding-top: 5px;
    padding-bottom: 15px;
    font-family: 'Libre Baskerville';
    font-size: 13px;
    font-weight: normal;
    line-height: 1.54;
    letter-spacing: -0.42px;
    color: var(--ion-color-primary-contrast);
}

#content-text-news{
    font-family: 'Libre Baskerville';
    font-size: 13px;
    font-style: italic;
    text-decoration: none;
    font-weight: normal;
    color: var(--ion-color-primary-contrast);
    line-height: 1.54;
    letter-spacing: -0.42px;
}

.expandableDetails #content-text-more{
    padding: 0;
    font-size: 11px;
    text-emphasis: none;
    text-align: right;
    color: var(--ion-color-secondary);

}

.expandableDetails #content-text-website{
    padding: 0;
    font-size: 13px;
    text-emphasis: none;
    text-decoration: none;
    color: var(--ion-color-secondary);

}

.expandableDetails .expandContact #mail, .expandableDetails .expandContact #website{
    vertical-align: middle;
    align-content: center;
}

.expandableDetails .expandNotes ion-textarea{
    --padding-start: 0;
    --padding-top: 0;
}

#related-company-list-title{
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.18;
    letter-spacing: 0.75px;
    color: var(--ion-color-primary-contrast);
    padding: 40px 16px 20px 16px;

}

app-company-card{
    width: 100%;
    max-width: 100%;
}

.company-content-unexpandable{
    padding: 0 15px;
}

.company-content-unexpandable ion-card-content{
    padding-bottom: 25px;
}

#last-row{
    border-bottom: 1px solid white;
}

ion-modal{
    padding: 70px;
}