<app-top-components [(showToolbar)] = "showToolbar" ></app-top-components>

<ion-content [scrollEvents]="true" fullscreen = "true" (ionScroll)="onScroll($event)">

  <div class="feature-section" [style.height]="carouselHeight">
    <slideshow [imageUrls]="images" [autoPlay]="true" [showArrows]="false" [autoPlayInterval]="5000" *ngIf="images"
      [showDots]="true" [disableSwiping]="false"></slideshow>
  </div>

  <ion-grid class="companyDetails" *ngIf="company">
    <div class = "nonExpandableDetails">
    <ion-row class="mainInfoTop">
      <ion-col [size]="5">
        <div id="imgWrapper">
          <img [src]="getImagePath()" />
        </div>
      </ion-col>
      <ion-col [size]="1">
        <a *ngIf="!likedCpies[currentId]; else likedIcon" (click)="onLikeClicked()">
          <ion-icon name="heart-empty" color="primary"></ion-icon>
        </a>
        <ng-template #likedIcon>
          <a (click)="onLikeClicked()">
            <ion-icon name="heart" color="primary"></ion-icon>
          </a>
        </ng-template>
      </ion-col>
      <ion-col>
        <ion-grid>
          <ion-row id="companyTags">
            <div style="width: 40%; text-align: right;">
              <ion-icon name="pricetag" color="primary"> </ion-icon>
            </div>
            <div style="width: 60%; text-align: left;">
              <ion-label>{{company.tag}}</ion-label>
            </div>
          </ion-row>
          <ion-row id="companyTags">
            <div style="width: 40%; text-align: right;">
              <ion-icon name="pricetag" color="primary"> </ion-icon>
            </div>
            <div style="width: 60%; text-align: left;">
              <ion-label>{{company.stage}}</ion-label>
            </div>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="5">
        <ion-icon name="map" color="primary"></ion-icon>
        <ion-label>Booth #{{company.booth}} - Floor #{{company.floor}}</ion-label>
      </ion-col>
      <ion-col>
        <a id="companyNews" href="{{company.news_link}} ">
          "{{company.news_title}}"
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="12">
        <ion-icon name="information-circle" color="primary"></ion-icon>
        <ion-label>{{company.description}} </ion-label>
      </ion-col>
    </ion-row>
  </div>

<div class = "expandableDetails">
    <ion-row>
      <app-accordion-panel [title]="'Why ' + company.company +'?'" [expandable]="whyExpanded" (click)="expandItem('whyExpanded')">
      </app-accordion-panel>
      <app-expandable expandHeight="200px" [expanded]="whyExpanded">
        <p id = "textWhy">
          {{ company.why}}
        </p>
      </app-expandable>
    </ion-row>
    <ion-row>
        <app-accordion-panel [title]="'Location'" [expandable]="locationExpanded" (click)="expandItem('locationExpanded')">
          </app-accordion-panel>
      <app-expandable expandHeight="1200px" [expanded]="locationExpanded">
        <img *ngIf="mapImage" [src]="mapImage">
      </app-expandable>
    </ion-row>
    <ion-row >
        <app-accordion-panel [title]="'Contact'" [expandable]="contactExpanded" (click)="expandItem('contactExpanded')">
          </app-accordion-panel>
      <app-expandable expandHeight="200px" [expanded]="contactExpanded">
        <div class = "expandContact">
        <div id = "mail">
          <p>
              <ion-icon name = "pin" color="primary"></ion-icon>{{ company.headquarters}}
          </p>
        </div>
        <div id = "website">
          <p>
              <ion-icon name = "globe" color="primary"></ion-icon> {{ company.website}}
          </p>
        </div>
      </div>
      </app-expandable>
    </ion-row>
    <ion-row >
        <app-accordion-panel [title]="'Add note'" [expandable]="noteExpanded" (click)="expandItem('noteExpanded')">
          </app-accordion-panel>
      <app-expandable expandHeight="200px" style="width: 100%;" [expanded]="noteExpanded">
        <div class = "expandNotes">
            <ion-textarea rows="6" (ngModelChange)="onTextAreaFilled()" [(ngModel)]="notesCpies[currentId]" placeholder="Enter your notes here..."></ion-textarea>
        </div>
      </app-expandable>
    </ion-row>
  </div>
  </ion-grid>

   <ion-grid>
     <ion-row>
      <div id="relatedCpiesTitle">
       Related Companies:
      </div>
    </ion-row> 
    <ion-row *ngFor="let rltCpy of relatedCompanies">
      <app-company-card [company]="rltCpy"> </app-company-card>
    </ion-row>
  </ion-grid>


  <app-footer></app-footer>

</ion-content>