
<ion-content [scrollEvents]="true" fullscreen = "true" (ionScroll)="onScroll($event)">

    <app-top-components [(showToolbar)] = "showToolbar" ></app-top-components>

  <div class="feature-section" [style.height]="carouselHeight">
    <slideshow  [imageUrls]="images" [autoPlay]="true" [showArrows]="false" [autoPlayInterval]="5000" *ngIf="images" [disableSwiping]="false" 
      [showDots]="true">
    </slideshow>
    <div class="shader-top" [style.height]="carouselHeight">
    </div>
    <div class="shader-bottom" [style.height]="carouselHeight">
    </div>
  </div>

  <div *ngIf="company && filters.length>0" class="company-content-unexpandable">
    <app-company-card [company]="company" [detailed] = "true" [filters] = "filters" ></app-company-card>
  </div>

  <ion-grid class="companyDetails" *ngIf="company">
<div class = "expandableDetails">
     <ion-row>
      <app-accordion-panel [title]="'Why ' + company.company +'?'" [expandable]="whyExpanded" (click)="expandItem('whyExpanded')">
      </app-accordion-panel>
      <app-expandable expandHeight="200px" [expanded]="whyExpanded">
        <div id = "content-text">
          {{ company.why}}
        </div>
      </app-expandable>
    </ion-row>
    <ion-row>
        <app-accordion-panel [title]="'Location'" [expandable]="locationExpanded" (click)="expandItem('locationExpanded')">
          </app-accordion-panel>
      <app-expandable expandHeight="1200px" [expanded]="locationExpanded">
        <a (click)="presentModal(mapImage)"><img *ngIf="mapImage" [src]="mapImage"></a>
      </app-expandable>
    </ion-row>
    <ion-row>
      <app-accordion-panel [title]="'Newsroom'" [expandable]="newsroomExpanded" (click)="expandItem('newsroomExpanded')">
        </app-accordion-panel>
    <app-expandable expandHeight="200px" [expanded]="newsroomExpanded">
      <div id = "content-text">
        <a id = "content-text-news" [href]="company.news_link"> {{company.news_title}}</a> <br>
        <a [href]="company.news_link"> <div id = "content-text-more"> Read the article </div> </a>
      </div>
    </app-expandable>
  </ion-row>
    <ion-row >
        <app-accordion-panel [title]="'Contact'" [expandable]="contactExpanded" (click)="expandItem('contactExpanded')">
          </app-accordion-panel>
      <app-expandable expandHeight="200px" [expanded]="contactExpanded">
        <div id = "content-text">
          Headquarters:   {{ company.headquarters}} <br>
          Website:   <a id = "content-text-website" [href]="company.website">{{ company.website}}</a>
      </div>
      </app-expandable>
    </ion-row>
    <ion-row id="last-row" >
        <app-accordion-panel [title]="'Notes'" [expandable]="noteExpanded" (click)="expandItem('noteExpanded')">
          </app-accordion-panel>
      <app-expandable  expandHeight="200px" style="width: 100%;" [expanded]="noteExpanded">
        <div class = "expandNotes">
            <ion-textarea id = "content-text" row = "6" (ngModelChange)="onTextAreaFilled()" [(ngModel)]="notesCpies[currentId]" placeholder="Enter your notes here..."></ion-textarea>
        </div>
      </app-expandable>
    </ion-row>
  </div>
  </ion-grid>

   <!-- <ion-grid > -->
  <div *ngIf="(relatedCompanies && relatedCompanies.length > 0 ); else norelatedcpy">
     <ion-row>
        <div id="related-company-list-title">
            All Related companies
          </div>
    </ion-row>
      <div *ngFor = "let rltCpy of relatedCompanies">
        <ion-row>
          <app-company-card *ngIf = "filters" [company]="rltCpy" [filters]="filters"> </app-company-card>
        </ion-row>
      </div>
  </div>
  <!-- </ion-grid> -->

  <ng-template #norelatedcpy>
      <ion-grid>
          <ion-row>
             <div id="related-company-list-title">
                 Other related companies
               </div>
         </ion-row> 
         <ion-row>
           There is no related company
         </ion-row>
       </ion-grid>
  </ng-template>


  <app-footer></app-footer>

</ion-content>