.expand-wrapper {
    border-top-color: rgba(0, 0, 0, 0.1);
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
    height: auto;
  }
  
  .collapsed {
    max-height: 0 !important;
  }