ion-content{
    --ion-background-color:#2B2B2B;
}

#favouriteCpiesTitle{
    padding: 15px 15px 0 10px;
    color: white;
    font-weight: bold;
    font-size: 1.125em;
}

app-company-card{
    width: 100%;
    max-width: 100%;
}