<div class = "wrappingHeader" [ngStyle] = "{'position': fixed === true ? 'fixed' : 'relative'}">
<ion-header no-border>
  <ion-toolbar translucent [class.show-background]="showToolbar">
    <ion-buttons *ngIf="!homepage" slot="start">
      <ion-button fill="clear" color="tertiary" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
      <ion-menu-button
        fill="clear"
        color="tertiary"
        default
        menuToggle
      ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
</div>