<!--<div class = "wrappingHeader">-->
<ion-header no-border>
  <ion-toolbar translucent [class.show-background]="true">
    <ion-buttons *ngIf="!homepage" slot="start">
      <ion-button fill="clear" color="tertiary" (click)="goBack()">
        
        <ion-icon name="arrow-back"></ion-icon>
        
      </ion-button>

    </ion-buttons>
    <div style="padding-left: 5px; padding-top: 8px;">
      <div *ngIf = "false; else noToolbar">
      <img src="assets/homepage/Capgemini_AIE.png"
          class="Invent_Logo_WHITE_CMYK">
        </div>
      <ng-template #noToolbar>
        <img src="assets/homepage/Capgemini_AIE2.png"
        class="Invent_Logo_WHITE_CMYK">        
      </ng-template>
    </div>

    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
      <ion-menu-button
        fill="clear"
        color="tertiary"
        default
      ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--</div>-->