@font-face {
    font-family: 'Libre Baskerville';
    src: url('assets/fonts/LibreBaskerville-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Libre Baskerville';
    src: url('assets/fonts/LibreBaskerville-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Libre Baskerville';
    src: url('assets/fonts/LibreBaskerville-Italic.ttf');
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/OpenSans-Light.ttf');
    font-weight: light;
    font-style: normal;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }