<div class="cardWrapper">
  <ion-card class="companyCard" (click)="onClickedCard()">
    <div id="imageWrapper">
      <img
        *ngIf="company.logo; else nologo"
        class="companyLogo"
        src="{{ company.logo }}"
      />
      <ng-template #nologo>
        <h1 style="font-size: 4em;">{{ company.company }}</h1>
      </ng-template>
    </div>
    <ion-card-header>
      <ion-card-title id="companyName" *ngIf="company.logo">
        {{ company.company }}
      </ion-card-title>
      <ion-grid style="width: 100%; max-width: 100%;">
        <ion-row id="tags">
            <div *ngFor="let tag of companyTags">
                <app-tags [filter] = "tag" (click)="onTagClicked($event, tag)"> </app-tags>
            </div>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <div id="companyLocation">
        <ion-icon name="map" color="primary"></ion-icon> Booth #{{
          company.booth
        }}
        - Floor #{{ company.floor }} <br />
      </div>
      <div id="companyDescription">
        <ion-icon name="information-circle" color="primary"></ion-icon>
        {{ company.description | slice: 0:100 }}...
      </div>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</div>
