<ion-content [scrollEvents]="true" no-bounce fullscreen (ionScroll)="onScroll($event)">

    <app-top-components homepage = 'true' [(showToolbar)] = "showToolbar" ></app-top-components>

  <div class="background">

  <div class="app_title">
    <img
      src="/assets/homepage/Fixed_Shape_Text_2_VibrantBlue_RGB.png"
      style="max-width: 100%; width: 100%; height: auto; "
    />
  </div>

  <ion-grid class="grid_container">
    <ion-row class="explanation_box">
      <div class="explanation_box_title">
        PICK YOUR TAGS
      </div>

      <div class="explanation_box_text">
        To enhance your NRF experience, Capgemini has made a selection of the
        most promising companies. Select your interests among the different tags and discover them here!
      </div>
    </ion-row>

    <!-- <ion-row>
      <ion-col class="category_box" size="10">
        <div ion-activatable class="category_retail" (click)="openCategory('Retail')">
            <ion-grid style = "padding: 0;">
                <ion-row>
                  <ion-col class="category_box_title" size="5">
                      RETAIL
                  </ion-col>
                  <ion-col class="category_box_description">
                      From planning to analytics, meet our selection of companies
                  </ion-col>
                </ion-row>
              </ion-grid>
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="category_box" size="10" offset="2">
        <div ion-activatable class="category_cpg"  (click)="openCategory('CPG')">
          <ion-grid style = "padding: 0;">
            <ion-row>
              <ion-col class="category_box_description">
                    From planning to analytics, meet our selection of companies
              </ion-col>
              <ion-col class="category_box_title" size="5">
                  CPG
              </ion-col>
              
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>

  -->
  </ion-grid>
</div>

<div *ngIf="filters.length>0 && filteredCompanies; else noCompanies">
    <ion-grid class = "tagArea">
        <ion-row>
          <div *ngFor="let filter of filters">
              <app-tags [filter] = "filter" (click) = "onTagChosen(filter)" > </app-tags>
          </div>
        </ion-row>
      
      </ion-grid>
      
      <ion-grid>
          <ion-row>
              <div id="relatedCpiesTitle">
               Featured Companies:
              </div>
            </ion-row> 
          <div *ngIf="filteredCompanies.length !== 0; else noFilteredCpy">
              <ion-row *ngFor="let cpy of filteredCompanies">
                  <app-company-card [company]="cpy" [filters]="filters" (tagClicked)="onTagChosen($event)"></app-company-card>
                </ion-row>
          </div>
          <ng-template #noFilteredCpy>
              <ion-row>
                  <div id="noCompanyWarning">
                   Ooops, it seems that no company matches your criteria. <br>
                    Change your tags or take a look at the list below:
                   </div>
                </ion-row> 
              <ion-row *ngFor="let cpy of allCompanies">
                <app-company-card [company]="cpy" [filters]="filters" (tagClicked)="onTagChosen($event)" ></app-company-card>
              </ion-row>
          </ng-template>

        </ion-grid>
</div>

<ng-template #noCompanies>
  <div style="width: 100%; display: flex; justify-content: center; align-content: center; height: 50px;">
      <ion-spinner name="dots" color="tertiary"></ion-spinner>
  </div>
</ng-template>

  <app-footer></app-footer>

</ion-content>
