<app-top-components homepage = 'true' [(showToolbar)] = "showToolbar" ></app-top-components>

<ion-content [scrollEvents]="true" no-bounce (ionScroll)="onScroll($event)">


  <div #background class="background">
  
  <div #vector class="background-vect"></div>
      <div class="shader-top">
    </div>
    <div class="shader-bottom">
    </div>
  <div class="app-title">
    <div id="app-title-h1"> Welcome to the Future of Retail </div>
    <div id="app-title-h2"> A companion app for NRF 2020 brought to you by Capgemini</div>
  </div>

</div>

<div *ngIf="filters.length>0 && allCompanies && filteredCompanies; else noCompanies">
    <ion-fab  [ngClass] ="fabButton && !fabButton_Active ? 'fabButton-active '+fabButton_Active : 'fabButton'" vertical="bottom" horizontal="start" style="position: fixed; bottom: 16px; left: 16px;" >
        <ion-fab-button color="secondary" [activated]="fabButton_Active" >
          <ion-icon style="font-size: 20px;" name="options" color="tertiary"></ion-icon>
        </ion-fab-button>
        <ion-fab-list id="fabButton-list" side="top">
            <app-tags *ngFor = "let filter of filters" [filter] = "filter" (click) = "onTagChosen(filter, $event)" > </app-tags>
          </ion-fab-list>
      </ion-fab>

    <ion-grid class = "tagArea">
      <ion-row>
        <div id="tagArea-title-topic">
          Explore by topic
        </div>

      </ion-row>
        <ion-row  id="tagArea-content-topic">
          <div *ngFor="let filter of topicFilters">
              <app-tags [filter] = "filter" (click) = "onTagChosen(filter)" > </app-tags>
          </div>
        </ion-row>
        <ion-row>
            <div id="tagArea-title-filter">
              Filter by floor
            </div>
    
          </ion-row>
            <ion-row  id="tagArea-content-topic">
              <div *ngFor="let filter of floorFilters">
                  <app-tags [filter] = "filter" (click) = "onTagChosen(filter)" > </app-tags>
              </div>
            </ion-row>
      
      </ion-grid>
      
      <!--<ion-grid class="grid-company-list"> -->

          <div *ngIf="dataProcessed && filters.length>0; else noCompanies">
            <ion-row>
              <div id="company-list-title">
                Viewing <span id="strong"> all </span> curated companies
              </div>
      
           </ion-row>
           <div *ngIf="filteredCompanies.length !== 0; else noFilteredCpy">
              <div *ngFor = "let cpy of filteredCompanies">
                <ion-row>
                  <app-company-card [company]="cpy" [filters]="filters" (tagClicked)="onTagChosen($event)"></app-company-card>
                </ion-row>
              </div>
            </div>
          </div>
          <ng-template #noFilteredCpy>
            <ion-row>
              <div id="company-list-title">
                <span id="secondary-color">Your search did not match any company</span><br>
                Displaying <span id="strong"> all </span> companies
              </div>
      
            </ion-row>
              <div *ngFor="let cpy of allCompanies">
                <ion-row >
                  <app-company-card [company]="cpy" [filters]="filters" (tagClicked)="onTagChosen($event)" ></app-company-card>
                </ion-row>
              </div > 
          </ng-template>
        <!-- </ion-grid> -->
        <app-footer></app-footer>
</div>

<ng-template #noCompanies>
  <div style="width: 100%; display: flex; justify-content: center; align-content: center; height: 50px;">
      <ion-spinner name="dots" color="tertiary"></ion-spinner>
  </div>
</ng-template>

 

</ion-content>
