
ion-chip{
    border-radius: 4px !important;
    border: 1px solid;
    font-family: LibreBaskerville;
    font-size: 11px;
    text-align: center;
}
.active-secondary-black, .active-secondary-white{
    background-color: var(--ion-color-secondary);
}

.active-secondary-black ion-label, .active-secondary-white ion-label{
    color: var(--ion-color-secondary-contrast);
}

.active-tertiary-black{
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary);
}

.active-tertiary-white{
    background-color: black;

}

.active-tertiary-black ion-label{
    color: var(--ion-color-primary-contrast)
}

.inactive-tertiary-white{
    color: black;
}

.inactive-tertiary-white ion-label{
    color: black;
}

.inactive-tertiary-black{
    color: white;
}

.inactive-tertiary-black ion-label{
    color: white;
}