<ion-menu side="end" menuId="first" type="overlay" contentId="menu-content">
  <ion-header>
    <ion-toolbar color="primary">
      <div class="logoMenu_Container">
        <img id="logoMenu" src="/assets/general/Capgemini_Logo_White.png" />
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="menuItems">
          <ion-searchbar></ion-searchbar>   
      <ion-item href="https://www.capgemini.com/us-en/our-company/" routerDirection="forward">
        <div id="itemIcon">
          <ion-icon name="cafe" slot="start" color="dark"></ion-icon>
        </div>
        <div id="itemName">
          <ion-label>About Capgemini</ion-label>
        </div>
      </ion-item>
      <ion-item href="https://www.capgemini.com/service/applied-innovation-exchange/" routerDirection="forward">
        <div id="itemIcon">
        <ion-icon name="bulb" slot="start" color="dark"></ion-icon>
        </div>
        <div id="itemName">

        <ion-label>About the AIE</ion-label>
      </div>
    </ion-item>
      <ion-item type="button" href = '/contact' routerDirection="forward">
        <div id="itemIcon">
          <ion-icon name="mail" slot="start" color="dark"> </ion-icon>
        </div>
        <div id="itemName">
          <ion-label>Contact us</ion-label>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
