ion-toolbar{
    --background: transparent!important;
    --ion-color-base: transparent !important;
    -webkit-transition: opacity  0.5s ease !important;
    -moz-transition: opacity 0.5s ease !important;
    -o-transition: opacity 0.5s ease !important;
    transition: opacity  0.5s ease !important;

}


.show-background{
    --background: black !important;

}

