<ion-menu side="end" menuId="first" type="overlay" (ionWillClose)="closingNavSlideUp()" contentId="menu-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-searchbar (ionInput) = "onSearch($event)" color="primary" placeholder = "Search"></ion-searchbar> 
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="menuItems" lines="none">
          <ion-item href="/home" detail="false" routerDirection="forward">
            <div id="itemName">
              <ion-label>Home</ion-label>
            </div>
          </ion-item>
          <ion-item href="/favourites" detail="false" routerDirection="forward">
            <div id="itemName">
              <ion-label>Favorites</ion-label>
            </div>
          </ion-item>
      <ion-item href="https://www.capgemini.com/us-en/our-company/"  detail="false" routerDirection="forward">
        <div id="itemName">
          <ion-label>About Capgemini</ion-label>
        </div>
      </ion-item>
      <ion-item href="https://www.capgemini.com/service/applied-innovation-exchange/" detail="false" routerDirection="forward">
        <div id="itemName">

        <ion-label>About the AIE</ion-label>
      </div>
    </ion-item>
      <ion-item id="last-item"  type="button" href = '/contact' detail="false" routerDirection="forward">
        <div id="itemName">
          <ion-label>Contact us</ion-label>
        </div>

      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row *ngFor="let company of searchedCompanies">
        <app-company-card [company]="company" [filters] = "filters"> </app-company-card>
      </ion-row>
    </ion-grid>


  </ion-content>
</ion-menu>
