<ion-menu
  side="end"
  menuId="first"
  type="overlay"
  (ionWillClose)="closingNavSlideUp()"
  contentId="menu-content"
>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-searchbar
        (ionInput)="onSearch($event)"
        color="primary"
        placeholder="Search"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="menuItems" lines="none">
      <ion-item button (click)="openPage(1)" detail="false">
        <div id="itemName">
          <ion-label>Home</ion-label>
        </div>
      </ion-item>
      <ion-item button (click)="openPage(2)" detail="false">
        <div id="itemName">
          <ion-label>Favorites</ion-label>
        </div>
      </ion-item>
      <ion-item
        button
        (click)="openLink('https://www.capgemini.com/us-en/our-company/')"
        detail="false"
        routerDirection="forward"
      >
        <div id="itemName">
          <ion-label>About Capgemini</ion-label>
        </div>
      </ion-item>
      <ion-item
        button
        (click)="openLink('https://www.capgemini.com/service/applied-innovation-exchange/')"
        detail="false"
        routerDirection="forward"
      >
        <div id="itemName">
          <ion-label>About the AIE</ion-label>
        </div>
      </ion-item>
      <ion-item
        button
        (click)="openLink('https://www.fahrenheit-212.com')"
        detail="false"
        routerDirection="forward"
      >
        <div id="itemName">
          <ion-label
            >About Fahrenheit 212<br />Part of Capgemini Invent</ion-label
          >
        </div>
      </ion-item>
      <ion-item button id="last-item" (click)="openPage(3)" detail="false">
        <div id="itemName">
          <ion-label>Contact us</ion-label>
        </div>
      </ion-item>
    </ion-list>

    <div *ngIf="filters">
      <div *ngFor="let company of searchedCompanies">
        <ion-row>
          <app-company-card [company]="company" [filters]="filters">
          </app-company-card>
        </ion-row>
      </div>
    </div>
  </ion-content>
</ion-menu>
